
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f6f8;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 61, 98, 0.9);
  color: #fff;
  z-index: 1000;
  transition: transform 0.4s ease, background-color 0.3s ease;
}
.header.scrolled {
  background-color: rgb(79, 139, 182);
  padding: 10px 40px;
}


.header.hide {
  transform: translateY(-100%);
}

.logo-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #f39c12;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: #f39c12;
}

.btn-header {
  background-color: #f39c12;
  color:rgb(16, 45, 124);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s;
}

.btn-header:hover {
  transform: translateY(2px);
}


.home {
  height: 100vh;
  background: linear-gradient(
      rgba(9, 65, 105, 0.7),
      rgba(98, 107, 114, 0.7)
    ),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
      center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.home-content {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.home-content.show {
  opacity: 1;
  transform: translateY(0);
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 16px;

}

.home p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.btn-home {
  background-color: #f39c12;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-home:hover {
  transform: scale(1.05); /* aumenta 5% quando passar o mouse */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* sombra suave */
}


.footer {
  background-color: rgba(10, 61, 98, 0.9); 
  color: #fff;
  text-align: center;
  padding: 50px ;
  margin-top: 50px;
}

.footer a {
  color: #f39c12;
  margin: 0 10px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
